* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
.background {
  height: 100%;
  background: url(./assets/img/bg.jpg) top left;
  /* filter: brightness(50%); */
}
header {
  height: 100vh;
}
.logo img {
  width: 180px;
  margin-left: 40px;
}
.login-container {
  background: rgba(0, 0, 0, 0.755);
  color: white;
  width: 40%;
  height: 80%;
  margin: 0 auto;
}
.login {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
footer {
  color: white;
  background: rgba(0, 0, 0, 0.755);
}
