* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url(./assets/img/bg.jpg) top left;
  height: 120vh;
}
header img {
  width: 180px;
  margin-left: 40px;
}
.login {
  background: black;
  color: whitesmoke;
  width: 400px;
  height: 700px;
  margin: auto;
}
.login form {
  display: flex;
  flex-direction: column;
}
