* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url(./assets/img/bg.jpg) top left;
  height: 120vh;
}
header img {
  width: 180px;
  margin-left: 40px;
}
.login-container {
  background: rgba(0, 0, 0, 0.755);
  color: white;
}
footer {
  color: white;
  background: black;
}
